.yas-compiled-snippets.el
# ME: misc
workspace/
.cache/
.dap-breakpoints
.lsp-session-v1
bookmarks
cache/
diredful-conf.el
eclipse.jdt.ls/
eln-cache/
forge-database-v7-20220720-1438.sql
forge-database.sqlite
irony/
local-melpa/
projects
recentf
snippets/go-mode/.yas-compiled-snippets.el
snippets/html-mode/.yas-compiled-snippets.el
snippets/lisp-mode/.yas-compiled-snippets.el
straight/
transient/

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# CUSTOM
ido.last
/url/
ac-comphist.dat